In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [25]:
mal_df = pd.read_csv("./malaysia_all_data_for_paper.csv", sep=';')
mal_df

                    time  temperature   load
0      01/01/09 01:00 AM           24  30360
1      01/01/09 02:00 AM           24  29155
2      01/01/09 03:00 AM           24  28086
3      01/01/09 04:00 AM           24  28031
4      01/01/09 05:00 AM           24  27730
...                  ...          ...    ...
17514  12/31/10 08:00 PM           26  53819
17515  12/31/10 09:00 PM           26  51543
17516  12/31/10 10:00 PM           25  44961
17517  12/31/10 11:00 PM           24  38484
17518  01/01/11 12:00 AM           24  36729

[17519 rows x 3 columns]

In [36]:
in_df = pd.read_csv("./india_elec.csv")
in_df.rename(columns={'Unnamed: 0' : 'Datetime'}, inplace=True)

mal_df = pd.read_csv("./malaysia_all_data_for_paper.csv", sep=';')
mal_df.rename(columns={'time' : 'Datetime'}, inplace=True)

rom_df = pd.read_csv("./romania.csv")
rom_df.rename(columns={'DateTime' : 'Datetime'}, inplace=True)

tet_df = pd.read_csv("./tetouan.csv")

steel_df = pd.read_csv("./Steel_industry_data.csv")
steel_df.rename(columns={'date' : 'Datetime'}, inplace=True)

pmj_df = pd.read_csv("./PMJ/pjm_hourly_est.csv")

df_dic = {
    'india_elec_daily' : in_df,
    'malaysia_elec_daily' : mal_df,
    'romania_elec_daily' : rom_df,
    'tetouan_elec_daily' : tet_df,
    'steel_industry_elec_daily' : steel_df,
    'pjm_elec_daily' : pmj_df
    }

In [41]:
for name in df_dic:
    print(len(df_dic[name]))

503
17519
36772
52416
35040
178262

In [44]:
df = pd.read_csv('../korea/kor_gas_day.csv')
len(df.loc[df.type == 'A'])

2191

In [42]:
for name in df_dic:
    df_dic[name].Datetime = pd.to_datetime(df_dic[name].Datetime)
    df_dic[name]['date'] = df_dic[name].Datetime.dt.date
    daily_data = df_dic[name].groupby('date').sum()
    print(len(daily_data))
    # daily_data.to_csv("./daily_data/" + name + ".csv")

498
731
1532
364
365
7430

C:\Users\qja19\AppData\Local\Temp\ipykernel_1760\4183789767.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data = df_dic[name].groupby('date').sum()
C:\Users\qja19\AppData\Local\Temp\ipykernel_1760\4183789767.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data = df_dic[name].groupby('date').sum()
C:\Users\qja19\AppData\Local\Temp\ipykernel_1760\4183789767.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data = df_dic[name].groupby('date').sum()
C:\Users\qja19\AppData\Local\Temp\ipykernel_1760\4183789767.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data = df_dic[name].groupby('date').sum()
C:\Users\qja19\AppData\Local\Temp\ipykernel_1760\4183789767.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data = df_dic[name].groupby('date').sum()
C:\Users\qja19\AppData\Local\Temp\ipykernel_1760\4183789767.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_data = df_dic[name].groupby('date').sum()